nav
    .container
        .nav-wrapper
            a.brand-logo(href='#') 二附中社团系统
            ul#nav-mobile.right.hide-on-med-and-down
                li.active
                    a(href='/') 主页
                li
                    a(href='/choose') 选择社团
                li
                    a(href='/usercenter') 个人中心
